/*Gerenal style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*Root*/
:root {
  --bkg: #ebfaff;
  --panel: #1c1c1c;
  --buttonColor: #fafafa;
  --buttonPadding: 1em;
  --buttontextColor: #5bc0e8;
}

/*Body style*/
body {
  background-color:var(--bkg);
}
/*Splash screen*/
.splash{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0%;
  left:0%;
  width: 100%;
  height: 100%;
  background-color: var(--bkg);
  z-index: 1;
}


/*header style*/
header {
  margin: 1em auto;
  width: 50%;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 20em;
  animation: logo  0.4s cubic-bezier(0.075, 0.820, 0.165, 1.000) 4s both;
background-color: var(--bkg);
 z-index: 1;
}
@keyframes logo {
    0% {
    -webkit-transform: scale(0.5) ;
            transform: scale(0.5);
            width: 150%;
            height: 200%;
            position:fixed;
            top:-500px;
          }

  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

/*main style*/

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 34em;
  padding: var(--buttonPadding);
  border:groove 4px #1c1c1c;
  border-radius: 24px;
  box-shadow: #040608 4px 4px 6px; 
  animation: color-change-2x 10s linear infinite alternate both;
}

@keyframes color-change-2x {
  0% {
    background: #7e9b9c;
  }
  25% {
    background: #aa96b6;
  }
  50% {
    background: #eab0b0;
  }
  75% {
    background: #dccfa4;
  }
  100% {
    background: #859c7e;
  }
}

.Display {
  margin: 0 auto 0.4em auto;
  padding: 0.8em 0.2em;
  width: 90%;
  height: 10rem;
  text-align: center;
  font-size: 5em;
  font-family:' Fascinate Inline';
  color: var(--buttontextColor);
  background-color: #9cc5fffd;
  border:inset 10px #b1b0b0;
  border-radius: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-stroke: white 2px;
}

.Buttons {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4,1fr);
  gap: 2px;
  width: 100%;
  margin: 1em auto;

  animation: bounce 2s ease-in-out 3s forwards;
}

@keyframes bounce {
  0% {
    transform: translatey(100px);
    opacity: 0;
  }
  50% {
    transform: translatey(-10px);
  }
  80% {
    transform: translatey(30px);
  }
  100% {
    transform: translatey(0px);
  }
}

.Buttons button {
  width: 8em;
  height: 6em;
  border: none;
  border-radius: 8px;
  background-color:#b8e0f03c;
  font-family: "Bungee";
  opacity: 5;
}

.Buttons span {
  font-size: 4.5em;
  font-weight: bolder;
  color: var(--buttontextColor);
  -webkit-text-stroke: 1px whitesmoke;
}

.Buttons #Equal,
.Buttons #OperatorDivide,
.Buttons #OperatorMultiply,
.Buttons #OperatorPlus,
.Buttons #OperatorMinus {
  background-color: #3587f177;
  box-shadow: 2px 2px 3px #85b4f0, -2px -2px 3px #040608;
  margin-top: 4px;
}

.Buttons button:active {
  transform: translatey(10px);
}

.Buttons button:hover {
  transform: scale(1.05);
  transition: ease 0.3s;
  border-radius: 15px;
  box-shadow: 2px 2px 3px #116bdf, -2px -2px 3px #69b1f0;
}

/*Footer style*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4em 1em 0em 1em;
  filter: invert(100%);
}

.social img {
  width: 40px;
  filter: invert(100%);
}

.social img:hover {
  filter: invert(85%);
  transform: rotate(-10deg) scale(1.1);
}
.footerLogo img {
  width: 180px;
}

@media screen and (max-width: 1300px) {

.Container { 
width: 40em;

}

.Buttons button {
  width: 10em;
  height: 5em;
  border: none;
  border-radius: 8px;
  background-color:#b8e0f03c;
  font-family: "Bungee";
  opacity: 5;
}

.Buttons span {
  font-size: 4em;
  font-weight: bolder;
  color: var(--buttontextColor);
  -webkit-text-stroke: 1px whitesmoke;
}

.Buttons #Equal,
.Buttons #OperatorDivide,
.Buttons #OperatorMultiply,
.Buttons #OperatorPlus,
.Buttons #OperatorMinus {
  background-color: #3587f177;
  box-shadow: 2px 2px 3px #85b4f0, -2px -2px 3px #040608;
  margin-top: 4px;
}

}

/*Mobile style 900 less*/

@media screen and (max-width: 960px) {
  body {
    width: 100%;
  }

/*Splash screen*/
.splash{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
    z-index: 1;
}

.logo img {
  animation: logo  0.4s cubic-bezier(0.075, 0.820, 0.165, 1.000) 2s both;
  z-index: 1;
}
@keyframes logo {
    0% {
    -webkit-transform: scale(0.5) ;
            transform: scale(0.5);
            width: 200%;
            height: 200%;
            position:fixed;
            top:-500px;
          }

  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

  header {
    margin: 1em auto;
    width: 28.5em;
    display: flex;
    justify-content: center;
  }

  .logo img {
    width: 270px;
  }

  .Container {
    width: 36em;
    padding: 1em 0.2em;
  }

  .Buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    width: 100%;
    gap: 4px;
  }

  .Buttons button {
    width: 9em;
    border: none;
    background-color: var(--panel);
    border-radius: 8px;
      background-color:#b8e0f03c;

  }

  .Buttons span {
    font-size: 4.2em;
    font-weight: bolder;
    color: var(--buttontextColor);
    -webkit-text-stroke: 3px white;
  }

  .Buttons #Equal,
  .Buttons #OperatorDivide,
  .Buttons #OperatorMultiply,
  .Buttons #OperatorPlus,
  .Buttons #OperatorMinus {
    background-color: #116bdf;
    box-shadow: 2px 2px 3px #020405a3, -2px -2px 3px #040608ae;
    margin-top: 4px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*Mobile style 600 less */
@media screen and (max-width: 600px) {
  header {
    margin: 1em auto;
    width: 20.5em;
    display: flex;
    align-items: center;
  }

  /*Splash screen*/
.splash{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
    z-index: 1;
}

.logo img {
  animation: logo  0.4s cubic-bezier(0.075, 0.820, 0.165, 1.000) 2s both;
  z-index: 1;
}
@keyframes logo {
    0% {
    -webkit-transform: scale(0.5) ;
            transform: scale(0.5);
            width: 200%;
            height: 300%;
            position:fixed;
            top:-800px;
          } 

  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

  .logo img {
    width: 280px;
  }

  .Container {
    width: 24.5em;
  }

  .Buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    width: 100%;
    margin: 0.5em auto;
    gap: 4px;
  }

  .Buttons button {
    width: 6.5em;
    border: none;
    background-color: var(--panel);
    border-radius: 8px;
      background-color:#b8e0f03c;

  }

  .Buttons span {
    font-size: 4em;
    font-weight: bolder;
    color: var(--buttontextColor);
    -webkit-text-stroke: 3px white;
  }

  .Buttons #Equal,
  .Buttons #OperatorDivide,
  .Buttons #OperatorMultiply,
  .Buttons #OperatorPlus,
  .Buttons #OperatorMinus {
    background-color: #116bdf;
    box-shadow: 2px 2px 3px #020405a3, -2px -2px 3px #040608ae;
    margin-top: 4px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
  }

  .footerlogo img{
    object-fit: contain;
    width: 80px;
  }
}


/*Mobile style 400 less */
@media screen and (max-width: 400px) {

  .logo img {
    width: 180px;
  }

  .Container {
    width: 22.5em;
  }

  .Display {
  margin: 0 auto 0.1em auto;
  padding: 0em 0.2em 1em 0.2em;
  width: 90%;
  height: 3rem;
  text-align: center;
  font-size: 4em;
  font-family:' Fascinate Inline';
  color: var(--buttontextColor);
  background-color: #9cc5fffd;
  border:inset 10px #b1b0b0;
  border-radius: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-stroke: white 2px;
}

  .Buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    width: 90%;
    gap: 1px;
    margin: 0 auto; 
  }

  .Buttons button {
    width: 5.5em;
    height: 5em;
    border: none;
    background-color: var(--panel);
    border-radius: 8px;
      background-color:#b8e0f03c;

  }

  .Buttons span {
    font-size: 2em;
    font-weight: bolder;
    color: var(--buttontextColor);
    -webkit-text-stroke: 3px white;
  }

  .Buttons #Equal,
  .Buttons #OperatorDivide,
  .Buttons #OperatorMultiply,
  .Buttons #OperatorPlus,
  .Buttons #OperatorMinus {
    background-color: #116bdf;
    box-shadow: 2px 2px 3px #020405a3, -2px -2px 3px #040608ae;
    margin-top: 2px;
  }


.footer{
margin-top: 3em;

}



}