/*Gerenal style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*Root*/
:root {
  --bkg: #ebfaff;
  --panel: #1c1c1c;
  --buttonColor: #fafafa;
  --buttonPadding: 1em;
  --buttontextColor: #5bc0e8;
}

/*Body style*/
body {
  background-color: var(--bkg);
  scroll-behavior: smooth;
}

/*header style*/
header {
  margin: 1em auto;
  width: 50%;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 28em;
}

/*main style*/
.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 30em;
  padding: var(--buttonPadding);
  border-radius: 24px;
  background-color: var(--panel);
}

.Display {
  margin: 0 auto;
  padding: 0.8em 0.2em;
  width: 90%;
  height: 14rem;
  text-align: right;
  font-size: calc(5.1em + 1vw);
  font-family: Fascinate Inline;
  color: var(--buttontextColor);
  background-color: #0864e5fd;
  border: solid white;
  border-radius: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-stroke: white 4px;
}

.Buttons {

  gap: 2px;
  width: 100%;
  margin: 1em auto;
  animation: bounce 2s ease-in-out forwards;
}

@keyframes bounce {
  0% {
    transform: translatey(100px);
    opacity: 0;
  }
  50% {
    transform: translatey(-10px);
  }
  80% {
    transform: translatey(30px);
  }
  100% {
    transform: translatey(0px);
  }
}

.Buttons button {
  width: 8em;
  border: none;
  background-color: var(--panel);
  border-radius: 8px;
}

.Buttons span {
  font-size: 3.5em;
  font-weight: bolder;
  color: var(--buttontextColor);
  -webkit-text-stroke: 2px white;
}

.Buttons #Equal,
.Buttons #OperatorDivide,
.Buttons #OperatorMultiply,
.Buttons #OperatorPlus,
.Buttons #OperatorMinus {
  background-color: #116bdf;
  box-shadow: 2px 2px 3px #85b4f0, -2px -2px 3px #040608;
  margin-top: 4px;
}

.Buttons button:active {
  transform: translatey(10px);
}

.Buttons button:hover {
  transform: scale(1.1);
  transition: ease 0.3s;
  border-radius: 15px;
  animation: poup 2s ease-in-out infinite alternate;
  box-shadow: 2px 2px 3px #116bdf, -2px -2px 3px #69b1f0;
}

@keyframes poup {
  100% {
    transform: scale(0.8);
  }
}

/*Footer style*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4em 1em 0em 1em;
  filter: invert(100%);
}

.social img {
  width: 40px;
  filter: invert(100%);
}

.social img:hover{
  filter: invert(85%);
  transform: rotate(-10deg) scale(1.1);

}
.footerLogo img {
  width: 180px;
}

/*Mobile style 900 less*/

@media screen and (max-width: 960px) {
  body {
    width: 100%;
  }

  header {
    margin: 1em auto;
    width: 28.5em;
    display: flex;
    justify-content: center;
  }

  .logo img {
    width: 570px;
  }

  .Container {
    width: 36em;
    padding: 1em 0.2em;
  }

  .Buttons {
    width: 100%;
    margin: 1em 2em;
    gap: 4px;
  }

  .Buttons button {
    width: 9em;
    border: none;
    background-color: var(--panel);
    border-radius: 8px;
  }

  .Buttons span {
    font-size: 6.2em;
    font-weight: bolder;
    color: var(--buttontextColor);
    -webkit-text-stroke: 3px white;
  }

  .Buttons #Equal,
  .Buttons #OperatorDivide,
  .Buttons #OperatorMultiply,
  .Buttons #OperatorPlus,
  .Buttons #OperatorMinus {
    background-color: #116bdf;
    box-shadow: 2px 2px 3px #020405a3, -2px -2px 3px #040608ae;
    margin-top: 4px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*Mobile style 600 less */
@media screen and (max-width: 600px) {
  header {
    margin: 1em auto;
    width: 20.5em;
    display: flex;
    align-items: center;
  }

  .logo img {
    width: 320px;
  }

  .Container {
    width: 24.5em;
  }

  .Buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    width: 100%;
    margin: 1em auto;
    gap: 4px;
  }

  .Buttons button {
    width: 6em;
    border: none;
    background-color: var(--panel);
    border-radius: 8px;
  }

  .Buttons span {
    font-size: 4.2em;
    font-weight: bolder;
    color: var(--buttontextColor);
    -webkit-text-stroke: 3px white;
  }

  .Buttons #Equal,
  .Buttons #OperatorDivide,
  .Buttons #OperatorMultiply,
  .Buttons #OperatorPlus,
  .Buttons #OperatorMinus {
    background-color: #116bdf;
    box-shadow: 2px 2px 3px #020405a3, -2px -2px 3px #040608ae;
    margin-top: 4px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*Mobile style 400 less*/
@media screen and (max-width: 350px) {
  header {
    margin: 1em auto;
    display: flex;
    align-items: center;
  }

  .Container {
    zoom: 0.8;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
