/*Gerenal style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*Root*/
:root {
  --bkg: #ebfaff;
  --panel: #1c1c1c;
  --buttonColor: #fafafa;
  --buttonPadding: 1em;
  --buttontextColor: #5bc0e8;
}
/*Body style*/
body {
  background-color: var(--bkg);
  scroll-behavior: smooth;
}
/*header style*/
header {
  margin: 1em auto;
  width: 50%;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 28em;
}

/*main style*/
.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 30em;
  padding: var(--buttonPadding);
  border-radius: 24px;
  background-color: var(--panel);
}

.Display {
  margin: 0 auto;
  padding: 0.8em 0.2em;
  width: 90%;
  height: 14rem;
  text-align: left;
  font-size: calc(5.1em + 1vw);
  font-family: Fascinate Inline;
  color: whitesmoke;
  background-color: #435f67fd;
  border: solid white;
  border-radius: 24px;
  overflow:hidden;
  text-overflow: ellipsis;
  -webkit-text-stroke: rgb(9, 78, 253) 2px;

}

.Buttons  {
  animation: bounce 2s ease-in-out forwards ;
}

@keyframes bounce {
0%  {transform: translatey(100px);
opacity: 0;}
50% {transform: translatey(-10px);}
80% {transform: translatey(30px);}
100% {transform: translatey(0px);}
}

.Buttons {
  gap: 1px;
  width: 100%;
  margin: 1em auto;

  #Equal{
    background-color: #116bdf;
  }
  button {
    width: 8em;
    border-radius: 10px;
    border: none;
    background-color: var(--panel);
    border-radius: 8px;
  }

  span {
    font-size: 3.5em;
    font-weight: bolder;
    color: var(--buttontextColor);
    -webkit-text-stroke: 1px white;
  }
}
button:active{
  transform: translatey(10px);
}

button:hover {
  scale: 1.2;
  transition: ease 0.3s;
  box-shadow: 0;
  border-radius: 15px;
  animation: poup 2s ease-in-out infinite alternate;
  box-shadow: 2px 2px 3px #116bdf, -2px -2px 3px #69b1f0;
}

@keyframes poup {
  100% {transform: scale(0.6);}
}

/*Footer style*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4em 1em 0em 1em;
  filter: invert(100%);

  .social img {
    width: 30px;
    filter: invert(100%);
  }
}

.footer img {
  width: 180px;
}

/*Mobile style*/

@media screen and (max-width: 600px) {
  .Container {
zoom: 0.7;
  }



/*Mobile style

@media screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 10em;
    background-color: yellow;
  }

  .display {
    margin: 0 auto;
    width: 90%;
    height: 6em;
      }

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    width: 20%;
    margin: 1em auto;
    justify-content: center;

    button {
      width: 5em;
      border-radius: 10px;
      border: none;
      background-color: var(--panel);
      border-radius: 8px;
      box-shadow: 5px 5px 6px #181818, -5px -5px 6px #202020;
    }

    span {
      font-size: 3em;
      font-weight: bolder;
      color: var(--buttontextColor);
      -webkit-text-stroke: 1px white;
    }
  }
}
